<div class="section-light py-3 chat_app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card bg-none b-none">
                    <div class="card-header bline bg-none">
                        <h3 class="card-title">Chat</h3>
                     
                    </div>
                    <div class="chat_windows">
                        <ul class="mb-0">
                            <% service.firebase.database().ref('chat').on('child_added', function(snapshot) { %>
                                <% if (uid === snapshot.val().uid ) { %> 
                                    
                                    <li class="my-message">
                                        <div class="message">
                                            <p class="bg-light-gray"><%= snapshot.val().message %></p>
                                           
                                            <span class="time"><%= snapshot.val().date %></span>
                                        </div>
                                    </li>

                                    <% } else { %> 
                                        
                                        <li class="other-message">
                                            <img class="avatar mr-3" src="<%= snapshot.val().photoURL %>" alt="avatar">
                                            <div class="message">
                                                <p class="bg-light-blue"><%= snapshot.val().message %></p>
                                                <span class="time"><%= snapshot.val().date %></span>
                                            </div>
                                        </li>

                                        <% } %>
                               
                                <% }) %>
                          
                        </ul>
                        <div class="chat-message clearfix">
                            <form action="/app-chat" method="post">
                                <a href="javascript:void(0);" id="send"><i class="icon-paper-plane"></i></a>
                                <div class="input-group mb-0">
                                    <input type="text" class="form-control" placeholder="Enter text here..."
                                        id="message">
                                    <input type="text" class="form-control" value="<%= user.uid %>"
                                        style="display: none;" id="uid">
                                    <input type="text" class="form-control" value="<%= user.displayName %>"
                                        style="display: none;" id="displayName">
                                    <input type="text" class="form-control" value="<%= user.photoURL %>"
                                        style="display: none;" id="photoURL">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script>
    $('#send').click(function () {

        const data = {
            message: $(`#message`).val(),
            uid: $(`#uid`).val(),
            displayName: $(`#displayName`).val(),
            photoURL: $(`#photoURL`).val(),
            date: new Date()
        }

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify(data);


        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("/app-chat", requestOptions)
            .then(response => response.text())
            .then(result => {
                window.location.reload()
                console.log(result)
            })
            .catch(error => console.log('error', error));
    })
</script>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase-database.js"></script>
