<% const plannedProject=[]; const completedProject=[]; const inProgressProject=[]; const plannedTodo=[]; const
    completedTodo=[]; const inProgressTodo=[]; 
    
    project_list.map(list=> {

    if(list.title === "Planned") {
    plannedProject.push(list)
    }else if(list.title === "Completed") {
    completedProject.push(list)
    }else if(list.title === "In Progress"){
    inProgressProject.push(list)
    }
    })

    todo_list.map(list=> {
    console.log(list);
    if(list.status) {
    completedTodo.push(list)
    }else {
    inProgressTodo.push(list)
    }
    })


    %>

    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="mb-4">
                        <h4>สรุป Project</h4>
                        <small></a></small>
                    </div>
                </div>
            </div>
            <div class="row clearfix row-deck">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Project All (รวม)</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="number mb-0 font-32" id="work-all">
                                <%= project_list.length %>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Project In Progress (ยังไม่เสร็จ)</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="number mb-0 font-32" id="work-on">
                                <%= inProgressProject.length %>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Project Completed (เสร็จแล้ว)</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="number mb-0 font-32" id="work-off">
                                <%= completedProject.length %>
                            </h5>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="mb-4">
                        <h4>สรุป Todo List</h4>
                        <small></a></small>
                    </div>
                </div>
            </div>
            <div class="row clearfix row-deck">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Todo All (รวม)</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="number mb-0 font-32" id="work-all">
                                <%= todo_list.length %>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Todo In Progress (ยังไม่เสร็จ)</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="number mb-0 font-32" id="work-on">
                                <%= inProgressTodo.length %>
                            </h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Todo Completed (เสร็จแล้ว)</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="number mb-0 font-32" id="work-off">
                                <%= completedTodo.length %>
                            </h5>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <% %>